header,
nav,
section,
article,
aside,
footer {
  display: block;
}
body {
    margin: 0 auto;
    max-width: 800px;
    line-height: 1.5em;
}
section {
    text-align: center;
}
footer {
    padding-top: 1em;
}
p {
  margin: 0;
  padding: 0;
}
